*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Fredoka One', cursive;
    
}

body{
    width: 80%;
    margin: 0 auto;
}
/* header */
h1{
    margin-top: 30px;
    text-align: center;
    color: #e53170;
}

.container_p{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
 /* table cards */

.card{
    border: 1px solid #d2d2d1;
    background-color: #0f0e17; 
    box-shadow: 1px 1px 8px 1px #d2d2d1;
}


.img img{
    float: left;
    width: 70px;
    height: 70px;
}

.info_card{
    padding: 5px 0 0 8px;
    color: white;
    line-height: 20px;
    float: left;
}
.info_card p{
    font-size: 12px;
}

.column{
    float: left;
    width: calc(100% / 3);
    padding: 10px;
}

.row::after, .card::after{
    content: "";
    display: table;
    clear: both;
}



